<ion-header>

  <ion-navbar>
    <ion-title class="title">Xarxes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding>
    <ion-chip class="chip" #chip1>
        <ion-label class="chip-text">{{name}}</ion-label>
        <button ion-button clear color="light" (click)="delete(chip1)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>

    <ion-chip class="chip" #chip2>
        <ion-label class="chip-text">Second filter</ion-label>
        <button ion-button clear color="light" (click)="delete(chip2)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>


        <ion-chip class="chip" #chip3>
            <ion-label class="chip-text">Date filter</ion-label>
            <button ion-button clear color="light" (click)="delete(chip3)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-chip>

          <ion-chip class="chip" #chip4>
              <ion-label class="chip-text">W</ion-label>
              <button ion-button clear color="light" (click)="delete(chip4)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-chip>


    </div>


    <ion-card class="card-item" *ngFor="let person of peoples" (click)="showDetailOf(person)">
        <ion-icon class="card-arrow" name="arrow-forward"></ion-icon>

        

      <ion-card-content no-padding>
          <ion-card-title class="card-title" item-end>
            <h1>{{person.name}}</h1>
            
          </ion-card-title>

          <div>
          <p class="card-place">{{person.hair_color}}</p>
          <p class="card-dates">{{person.birth_year}}</p>
        </div>

        </ion-card-content>
      </ion-card>


  <!--
      <button ion-item *ngFor="let person of peoples" (click)="showDetailOf(person)">
        <ion-card>
          <ion-item>
              
                  <h2>{{person.name}}</h2>
                <p>{{person.birth_year}}</p>

            <ion-icon name="rose" item-end></ion-icon>
          </ion-item>
        </ion-card>
        </button>
        
          <ion-card-header>
            Header
          </ion-card-header>
          <ion-card-content>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-card-content>
        </ion-card>
      
      
      
      
      
        <ion-icon name="leaf" item-start></ion-icon>
          <h2>{{person.name}}</h2>
          <p>{{person.birth_year}}</p>
       
      </button>

    -->


</ion-content>
